body {
  color: #333333;
  font-size: 16px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading-bar {
  background-color: #0f4c81;
  height: 4px;
}

.wrapper {
  border: 1px solid #efefef;
  margin: 20px auto;
  padding: 20px;
  width: 50%;
}

.wrapper.login {
  text-align: center;
}

.logo {
  margin-bottom: 10px;
}

.logo p {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.logo-subtext {
  color: #868686;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.intro-images {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.intro-img img {
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .intro-img {
    animation: intro-img-spin infinite 20s linear;
  }

  .intro-img.redux {
    animation: intro-img-redux-spin infinite 20s linear;
  }
}

@keyframes intro-img-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes intro-img-redux-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* Button */
.btn {
  background: #fff;
  border: 1px solid rgba(0,0,0,.29);
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: .875rem;
  padding: 10px 30px;
  transition: all 0.25s ease-in-out;
}

.btn:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

.btn:focus {
  outline: 0;
  font-weight: 500;
}

.btn.primary {
  background: #0f4c81;
  color: #fff;
}

.btn.primary:hover {
  background: rgba(15,76,129,.9);
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

.btn:disabled,
.btn:disabled:hover {
  background-color: #efefef;
  border: none;
  color: #868686;
}

/* Login form */
.user-select {
  margin: 20px auto;
}
