body {
  background: #f7f7f7;
  color: #333333;
  font-size: 16px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading-bar {
  background-color: #f26b5b;
  height: 3px;
}

/* Navbar */
.navbar {
  align-items: center;
  background: #fff;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
  display: flex;
  justify-content: space-between;
}

.navbar .nav-logo {
  margin: 5px 20px;
}

.navbar .nav-logo p {
  font-size: 0.8rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar .links ul {
  list-style: none;
  text-transform: uppercase;
}

.navbar .links ul li {
  display: inline;
  margin: 0 10px;
}

.navbar .links ul li a {
  color: #868686;
  font-size: .75rem;
  letter-spacing: 0.5px;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

.navbar .links ul li a:hover {
  color: rgba(15,76,129,.8);
  transition: all 0.25s ease-in-out;
}

.navbar .links ul li a.active {
  color: #0f4c81;
  font-weight: 500;
}

.auth-user {
  align-items: center;
  color: #565656;
  display: flex;
}

.auth-user img {
  border-radius: 10px;
}

.auth-user div {
  margin: 0 5px;
}

/* Wrapper and Logo */

.wrapper {
  background: #fff;
  border: 1px solid #efefef;
  margin: 20px auto;
  padding: 20px;
  width: 50%;
}

.wrapper.login {
  text-align: center;
}

.logo {
  margin-bottom: 10px;
}

.logo p {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.logo-subtext {
  color: #868686;
  font-size: 0.75rem;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.intro-images {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.intro-img img {
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .intro-img {
    animation: intro-img-spin infinite 20s linear;
  }

  .intro-img.redux {
    animation: intro-img-redux-spin infinite 20s linear;
  }
}

@keyframes intro-img-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes intro-img-redux-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

/* Button */
.btn {
  background: #fff;
  border: 1px solid rgba(0,0,0,.29);
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: .875rem;
  padding: 10px 30px;
  transition: all 0.25s ease-in-out;
}

.btn.sm {
  font-size: .75rem;
  padding: 5px 10px;
}

.btn:hover,
.btn.sm:hover {
  border-color: rgba(0,0,0,.5);
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

.btn:focus {
  outline: 0;
  font-weight: 500;
}

.btn.primary {
  background: #0f4c81;
  color: #fff;
}

.btn.primary:hover {
  background: rgba(15,76,129,.9);
  text-decoration: none;
  transition: all 0.25s ease-in-out;
}

.btn:disabled,
.btn:disabled:hover {
  background-color: #efefef;
  border: none;
  color: #868686;
}

/* Login form */
.user-select {
  margin: 20px auto;
}

/* Home page */
.home .home-nav {
  display: flex;
  flex-direction: row;
}

.home .home-nav .tab {
  background-color: #efefef;
  border-radius: 6px;
  cursor: pointer;
  letter-spacing: .3px;
  padding: 10px;
  text-align: center;
  width: 100%;
  transition: all 0.1s ease-in-out;
}

.home .home-nav .tab:hover {
  background-color: rgba(15,76,129,.15);
}

.home .home-nav .tab:first-child {
  margin-right: 5px;
}

.home .home-nav .tab.active {
  background-color: #0f4c81;
  color: #fff;
  transition: all 0.1s ease-in-out;
}

.home .home-nav .tab .pill {
  background-color: #868686;
  border-radius: 20px;
  color: #fff;
  font-size: .8rem;
  margin-left: 5px;
  padding: 3px 7px;
}

.home .home-nav .tab.active .pill {
  background-color: #fff;
  color: #0f4c81;
}
